.main-section {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.flask-messages {
    padding: 5px;
    font-weight: bold;
}

.flask-messages .success {
    color: green;
}

.flask-messages .error {
    color: red;
}
