body {
    background-color: #E5E6E9;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #AF2207;
}

a:focus,
a:hover {
    text-decoration: underline;
}

.main-section {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    border: 3px solid #AF2207;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.flask-messages {
    padding: 5px;
    font-weight: bold;
}

.flask-messages .success {
    color: green;
}

.flask-messages .error {
    color: red;
}

.form-dt {

}
.form-date {

}
.form-time {

}