<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant Inventory Management</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/common.js') }}"><</script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/inventory.js') }}"><</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <div id="main-inventory-section" class="main-section">
        <h2>Inventory Panel</h2>

        <div id="flask-messages" class="flask-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div id="new-inv-section">
            <a href="/reservation">Create new reservation</a>
            <h3>Submit new Inventory Window</h3>
            <form id="new-inventory-form">
                <div id="new-inv-form-date">
                    <label for="form-date-mm">Month: </label>
                    <select id="form-date-mm" class="form-date-mm"></select>

                    <label for="form-date-dd">Day: </label>
                    <select id="form-date-dd" class="form-date-dd"></select>

                    <label for="form-date-yyyy">Year: </label>
                    <select id="form-date-yyyy" class="form-date-yyyy"></select>
                </div>
                <br>
                <div id="new-inv-windows">
                    <div class="new-inv-win">
                        Between <select id="form-time-hh" class="form-time-hh"></select>:<select id="form-time-mm" class="form-time-mm"></select>
                        and <select id="form-end-time-hh" class="form-end-time-hh"></select>:<select id="form-end-time-mm" class="form-end-time-mm"></select>
                        I want <select name="form-int-counter" class="form-int-counter"></select> parties every 15 minutes.
                    </div>
                </div>
                <br>
                <input onclick="dupeWindowForm();" value="Add 15 minute window" type="button"/>
                <br>
                <br>
                <input onclick="submitNewInventory();" id="btn-submit-new-inv" value="Submit" type="button"/>
            </form>
        </div>
        <br>
        <br>
        <div id="curr-inv-section">
            <b style="padding: 5px">Current Inventory</b>
            <input onclick="refreshInventoryDisplay();" id="btn-refresh-invs" value="Refresh Inventory" type="button" style="padding: 5px">

            <!-- this is hidden on page load if empty -->
            <div id="curr-inv-display">
                <table id="curr-inv-tbl">
                    <tr>
                        <th>Inventory ID</th>
                        <th>Inventory Date</th>
                        <th>Window Start Time</th>
                        <th>Window End Time</th>
                        <th>Current Reservation Count</th>
                        <th>Max Reservation Count</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>