<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant Inventory Management</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/inventory.js') }}"><</script>
</head>
<body>
    <div id="main-inventory-section">
        <a href="reservation">Create new reservation</a>
        <h2>Inventory Panel</h2>

        <div id="new-inv-section">
            <h3>Submit new Inventory Window</h3>
            <form id="new-inventory-form">
                <!-- drop down for max num of res in window -->
                <label for="max-res-count">Max number of reservations: </label>
                <select name="max-res-count" id="max-res-count"></select>
                <br>
                <label for="start-inv-date">Start date:</label>
                <input type="date" id="start-inv-date" name="start-inv-date" value="2021-01-01" min="0001-01-01" max="9999-12-31">
                <label for="start-inv-time">Start time:</label>
                <input type="time" id="start-inv-time" name="start-inv-time" min="00:00" step="900" required>
                <br>
                <label for="end-inv-date">End date:</label>
                <input type="date" id="end-inv-date" name="end-inv-date" value="2021-01-01" min="0001-01-01" max="9999-12-31">
                <label for="end-inv-time">End time:</label>
                <input type="time" id="end-inv-time" name="end-inv-time" min="00:00" step="900" required>
                <br>
                <input onclick="submitNewInventory();" id="btn-submit-new-inv" value="Submit" type="button"/>
            </form>
        </div>
        <br>
        <br>
        <div id="curr-inv-section">
            <h3>Current Inventory</h3>
            <input onclick="refreshInventoryDisplay();" id="btn-refresh-invs" value="Refesh Inventory" type="button">

            <div id="curr-inv-display">
                <table id="curr-inv-tbl">
                    <tr>
                        <th>Inventory ID</th>
                        <th>Max Reservations</th>
                        <th>Current Reservation Count</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>