<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create New Reservation</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/common.js') }}"><</script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/reservation.js') }}"><</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="main-res-section" class="main-section">
        <h2>Reservation Panel</h2>

        <div id="flask-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div id="new-res-section">
            <a href="/">View inventory panel</a>
            <h3>Create new reservation</h3>
            <form id="new-res-form">
                <label for="res-name">Name:</label>
                <input id="res-name" name="res-name" type="text">
                <br>
                <label for="res-email">Email:</label>
                <input id="res-email" name="res-email" type="text">
                <br>
                <label for="form-int-counter">Party size: </label>
                <select class="form-int-counter" id="form-int-counter"></select>
                <br>
                <br>
                <label for="form-date">Reservation date: </label>
                <div id="form-date">
                    <label for="form-date-mm">Month: </label>
                    <select id="form-date-mm" name="form-date-mm"></select>

                    <label for="form-date-dd">Day: </label>
                    <select id="form-date-dd" name="form-date-dd"></select>

                    <label for="form-date-yyyy">Year: </label>
                    <select id="form-date-yyyy" name="form-date-yyyy"></select>
                </div>
                <br>
                <label for="form-date">Reservation Time: </label>
                <div id="form-time">
                    <label for="form-time-hh">Hour: </label>
                    <select id="form-time-hh" name="form-time-hh"></select>

                    <label for="form-time-mm">Minute: </label>
                    <select id="form-time-mm" name="form-time-mm"></select>
                </div>
                <input onclick="submitNewReservation();" id="btn-submit-new-inv" value="Submit" type="button"/>
            </form>
        </div>
    </div>
</body>
</html>